.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cherry {
    grid-column: 1/2;
    grid-row: 1/3;
}

img {
    width: 50%;
    height: auto;
}

p {
    color: red;
    text-align: center;
}

.heading {
    grid-column: 1/3;
    grid-row: 1/2;
}

div {
    background-color: grey;
}