body {
    background-color: black;
}

.card {
    max-width: 250px;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.headerimage{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

h4 {
    text-align: center;
    color: #3c5785;
    font-size: .9em;
    margin-bottom: 0;
}

.heading {
    text-align: center;
}


.awesomearticle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.small-text {
    font-size: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3c5785;
    border-radius: 0px 0px 20px 20px;
}

.grid-1 {
    grid-column: 1/2;
    text-align: center;
    color: white;
}

.grid-1 .number {
    margin-bottom: 0;
}

.grid-1 .small-text {
    margin-top: 0;
}

.grid-2 {
    grid-column: 2/3;
    text-align: center;
    color: white;
}

.grid-2 .number {
    margin-bottom: 0;
}

.grid-2 .small-text {
    margin-top: 0;
}

.grid-3 {
    grid-column: 3/4;
    text-align: center;
    color: white;
}

.grid-3 .number {
    margin-bottom: 0;
}

.grid-3 .small-text {
    margin-top: 0;
    margin-bottom: 15px;
}